extends ../layout

block content
  #content
    h3.title= Users 
    .row
      .col-md-6.col-md-offset-3
        form(method='POST' action='/admins/add')
          div.form-group.required
            label(for='users') Users
            select.form-control(id="users", name="users" multiple)
              each user in users
                if body && body.users && body.users.indexOf(user._id) > -1
                  option(value=user._id selected) #{user.fullname()}
                else
                  option(value=user._id) #{user.fullname()}
          button.btn.btn-primary(type='submit') Add Admins

        p.title Admins
        each admin, index in admins  
          .admins(class=index == admins.length - 1 ? 'last' : '')
            .admin= admin.fullname()
            .actions
              a.delete.admin(href="/admins/" + admin._id + "/remove") Remove

      #confirm.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
              h4#myModalLabel.modal-title Confirm Delete
            .modal-body
              p You are about to remove this User from Admins.
              p Do you want to proceed?
            .modal-footer
              button.btn.btn-default(type="button" data-dismiss="modal") Cancel
              a#delete.btn.btn-danger.btn-ok Remove